  <table class="table forum table-striped">
    <thead>
      <tr>
        
        <th>
          <h3>Reviews</h3>
        </th>
        <th class="cell-stat text-center">Responsible</th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Notification Period</th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Last Notified</th>
        <th class="cell-stat-2x">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h4><a href="#">Review for SAN Infrastructure in Reykjavik</a><br><small>SAN Infrastructure</small></h4>
        </td>
        <td class="text-center"><a href="#">Haukur Kristinsson</a></td>
        <td class="text-center hidden-xs hidden-sm">Every 365 days.</td>
        <td class="hidden-xs hidden-sm">Forced by <a href="#">Aegir Palsson</a><br><small><i class="fa fa-clock-o"></i> 7 months ago</small></td>
        <td style="padding-top:20px;">
              <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button title="Edit" type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> <span class="hidden-xs hidden-sm">Edit</span></button>
              <button title="Track" type="button" class="btn btn-default"><i class="fa fa-compress"></i> <span class="hidden-xs hidden-sm">Track</span></button>
              <button title="Delete" type="button" class="btn btn-default hidden-xs"><i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm hidden-md">Delete</span></button>
              <button title="Force Notification for the Review" type="button" class="btn btn-default"><i class="fa fa-share-square-o"></i> <span class="hidden-xs hidden-sm hidden-md">Force Notification.</span></button>
            </div>
          </td>
      </tr>
      <tr>
        <td>
          <h4><a href="#">Review for Windows Patching</a><br><small>Windows Infrastructure</small></h4>
        </td>
        <td class="text-center"><a href="#">Sigurður Samik Davidsen</a></td>
        <td class="text-center hidden-xs hidden-sm">Every 128 days.</td>
        <td class="hidden-xs hidden-sm">by DRS (automatic)<br><small><i class="fa fa-clock-o"></i> 56 days ago</small></td>
        <td style="padding-top:20px;">
              <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button title="Edit" type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> <span class="hidden-xs hidden-sm">Edit</span></button>
              <button title="Track" type="button" class="btn btn-default"><i class="fa fa-compress"></i> <span class="hidden-xs hidden-sm">Track</span></button>
              <button title="Delete" type="button" class="btn btn-default hidden-xs"><i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm hidden-md">Delete</span></button>
              <button title="Force Notification for the Review" type="button" class="btn btn-default"><i class="fa fa-share-square-o"></i> <span class="hidden-xs hidden-sm hidden-md">Force Notification.</span></button>
            </div>
          </td>
      </tr>
      <tr>
        <td>
          <h4><a href="#">Security Review for Service Web</a><br><small>Service Web</small></h4>
        </td>
        <td class="text-center"><a href="#">Haukur Kristinsson</a></td>
        <td class="text-center hidden-xs hidden-sm">Every 365 days.</td>
        <td class="hidden-xs hidden-sm">Forced by <a href="#">Aegir Palsson</a><br><small><i class="fa fa-clock-o"></i> 1 months ago</small></td>
        <td style="padding-top:20px;">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button title="Edit" type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> <span class="hidden-xs hidden-sm">Edit</span></button>
              <button title="Track" type="button" class="btn btn-default"><i class="fa fa-compress"></i> <span class="hidden-xs hidden-sm">Track</span></button>
              <button title="Delete" type="button" class="btn btn-default hidden-xs"><i class="fa fa-trash-o"></i> <span class="hidden-xs hidden-sm hidden-md">Delete</span></button>
              <button title="Force Notification for the Review" type="button" class="btn btn-default"><i class="fa fa-share-square-o"></i> <span class="hidden-xs hidden-sm hidden-md">Force Notification.</span></button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>